### Python Crash Course

In [4]:
1+1

2

In [7]:
2 ** 4

16

## Variable Assignment

In [9]:
x = 2
x

2

In [10]:
type(x)

int

In [13]:
x = "Hello World"
x

'Hello World'

In [15]:
x = 'Hellow World'
x

'Hellow World'

In [16]:
type(x)

str

In [17]:
x = 'Hello'
y = ' World'
x + y

'Hello World'

In [18]:
x = 'Hello'
y = ' World'
z = x + y
x
y
z

'Hello'

In [25]:
x = 'Hello'
y = ' World'
z = x + y
display(x)
display(y)
display(z)

'Hello'

' World'

'Hello World'

In [28]:
num = 12
name = ' Sam'
print('My number is: {one}, and my name is: {two}'.format(one = num, two = name))
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is:  Sam
My number is: 12, and my name is:  Sam

## Lists

In [29]:
[1,2,3]

[1, 2, 3]

In [30]:
['hi', '1', '2']

['hi', '1', '2']

In [31]:
my_list = ['a', 'b', 'c']

In [33]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd', 'd']

In [34]:
my_list[0]

'a'

In [35]:
my_list[1:]

['b', 'c', 'd', 'd']

In [36]:
my_list[:1]

['a']

In [38]:
my_list[0] = 'New'
my_list

['New', 'b', 'c', 'd', 'd']

In [39]:
nest = [1, 2, 3, [4, 5, ['costco', 'target', 'sams', 'walmart']]]
nest

[1, 2, 3, [4, 5, ['costco', 'target', 'sams', 'walmart']]]

In [41]:
nest[3][2][2]

'sams'

# Dictionaries

In [42]:
d = {'key1':'item1', 'key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [43]:
d['key1']

'item1'

# Boolean

In [44]:
True

True

# Tuples

In [45]:
t = (1, 2, 3)

In [46]:
t[0]

1

# Comparison Operators

In [47]:
 1 >= 1

True

In [48]:
'hi' == 'bye'

False

# Logic Operators

In [49]:
(1 > 2) and (2 < 3)

False

In [50]:
(1==2) or (2==3) or (4==4)

True

# if, elif, else statement

In [51]:
if 1==2:
  print('first')
elif 3==3:
  print('second')
else:
  print('last')

second

In [52]:
seq = [1,2,3,4,5]
for item in seq:
  print(item)

1
2
3
4
5

In [53]:
for item in seq:
  print('Yep!')

Yep!
Yep!
Yep!
Yep!
Yep!

In [55]:
for jelly in seq:
  print(jelly + jelly)

2
4
6
8
10

In [59]:
i=1
while i < 5:
  print(f'i is: {i}')
  i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [60]:
range(5)

range(0, 5)

In [61]:
for i in range(5):
  print(i)

0
1
2
3
4

In [62]:
list(range(5))

[0, 1, 2, 3, 4]

In [64]:
x = [1,2,3,4]
out = []
for item in x:
  out.append(item**2)
print(out)

[1, 4, 9, 16]

In [65]:
def my_func(param1 = 'default'):
  print(param1)

my_func

In [66]:
my_func()

default

In [67]:
my_func('New Value')

New Value

In [68]:
def square(x):
  return x**2

In [69]:
out = square(3)
print(out)

9

# Lambda Expression

In [71]:
def times2(var):
  return var*2

lambda var: var*2

In [72]:
map(times2, seq)

In [73]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [74]:
list(map(lambda var: var*2, seq))

[2, 4, 6, 8, 10]

In [75]:
filter(lambda item: item%2 == 0, seq)

In [76]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

In [78]:
list(filter(lambda item: item%2, seq))

[1, 3, 5]

# Methods

In [80]:
st = 'hello my name is Sam'
st.lower()

'hello my name is sam'

In [81]:
st.upper()

'HELLO MY NAME IS SAM'

In [82]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [83]:
tweet = 'Go Sports! #Sports'

In [84]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [85]:
tweet.split('#')[1]

'Sports'

In [86]:
d

{'key1': 'item1', 'key2': 'item2'}

In [87]:
d.keys()

dict_keys(['key1', 'key2'])

In [88]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [89]:
lst = [1,2,3]
lst.pop()

3

In [90]:
lst

[1, 2]

In [91]:
'x' in [1,2,3]

False

In [92]:
'x' in ['x','y','z']

True